<div class="main-content" id="panel">
  <!-- Topnav -->
  <%= render "nav" %>
  <!-- Header -->
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Countries</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Countries</a></li>
                <li class="breadcrumb-item active" aria-current="page"><%= @country.name %></li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
          </div>
        </div>
        <!-- Card stats -->
        <div class="row">
          <div class="col-xl-3 col-md-6">
            <div class="card card-stats">
              <!-- Card body -->
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Country Flag:</h5>
                    <div class="flag">
                      <img src="<%= @country.flag %>" alt="<%= @country.name %>" height="100" width="180">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
    <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0"><%= @country.name %></h3>
              </div>
              <div class="col text-right">
                <a href="<%= edit_country_path(@country) %>" class="btn btn-sm btn-primary">Edit Country</a>
              </div>
            </div>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <tbody class="thead-light">
                <tr>
                  <th>Name:</th>
                  <td><%= @country.name %></td>
                </tr>
                <tr>
                  <th>Capital:</th>
                  <td><%= @country.capital %></td>
                </tr>
                <tr>
                  <th>Region:</th>
                  <td><%= @country.region %></td>
                </tr>
                <tr>
                  <th>Subregion:</th>
                  <td><%= @country.subregion %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-right">
      <a href="<%= countries_path %>" class="btn btn-sm btn-primary">Back</a>
    </div>
  </div>

</div>
